
pre {
  padding: var(--space-2);
  border-radius: var(--border-radius);
}

.georgia { font-family: Georgia, serif }

.prose p {
  font-family: Georgia, serif;
  line-height: 1.625;
  margin-bottom: 2em;
}

.prose p:first-child {
  font-size: var(--h3)
}

