
svg {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

pre {
  padding: var(--space-2);
  border-radius: var(--border-radius);
}

code {
  padding-left: calc(var(--space-1)/2);
  padding-right: calc(var(--space-1)/2);
  color: var(--navy);
  background-color: color(var(--aqua) a(.25));
}

.georgia { font-family: Georgia, serif }

.prose p {
  line-height: 1.625;
  /*
  font-family: Georgia, serif;
  margin-top: 1em;
  margin-bottom: 2em;
  */
}

.prose p:first-child {
  font-size: var(--h3)
}

